@use "./root.scss" as *;

$notification-width: 30ch;

#toast-stack {
    z-index: 1;
    background-color: transparent;
    height: 100vh;
    width: $notification-width;
    position: fixed;
    right: 1rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@keyframes toast-slide-in {
    0% {
        transform: translatex(calc($notification-width + 1rem));
    }

    100% {
        transform: translatex(0);
    }
}
@keyframes toast-slide-out{
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translatex(calc($notification-width + 1rem));
    }
}

.animate-slide-in {
    animation-name: toast-slide-in;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.animate-slide-out{
    animation-name: toast-slide-out;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.toast-notification {
    position: relative;
    background-color: $surface-3;
    opacity: 70%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 5px;


    @include border();
    transition: all 150ms ease-in-out, ;

    &:active {
        scale: 0.99;
    }

    &:hover {
        opacity: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
    }
}

.toast-title,
.toast-body {
    color: $text-secondary;
}

.toast-title {
    font-size: 1.33rem;
    font-weight: 600;
}